.dragging_ghost
{
border:1px solid black;
position:absolute;
background-color:white;
padding:10px;
}

.root
{
  position:relative;
  table-layout:fixed;
}

.left_filler
{
  width:100%;
}

.statusbar
{
height:40px;
background: transparent url(../images/bg_mapfooter.gif) top left repeat-x;
position:absolute;
bottom:0px;
width:100%
}

.canvas
{
  overflow:auto;
  font-size:100%;
  position:absolute;
  top:35px;
  left:0px;
  height:200px;
}

.left_canvas
{
}

.right_canvas
{
}

.left_node
{
}

.left_children
{
}


.left_action
{
}

.left_action_icon
{
  cursor:pointer;
}

.left_line_canvas
{
}


.center_canvas
{
  text-align:center;
  white-space:nowrap;
}



.right_canvas
{
}

.right_canvas
{
}

.right_node
{
}

.right_children
{
}


.right_action
{
}

.right_action_icon
{
  cursor:pointer;
}

.right_line_canvas
{
}

.selected_node
{
  border:3px solid gray;
}

.normal_node
{
  margin:3px;
  cursor:pointer;
}

.highlighted_node
{
  background-color:yellow !important;
}